
<form #myForm="ngForm">
  <input type="text" required name="name" #username [(ngModel)]="user.name">
  <input type="password" required name="password" [(ngModel)]="user.password">

  <button type="button" name="button" (click)="myForm.reset()">reset</button>
</form>

{{myForm.valid}}
{{user | json}}
{{username.className}}
